body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(84, 84, 175, 1) 25%,
    rgba(0, 212, 255, 1) 88%
  );
}

.about {
  margin-top: 0px;
  padding: 0px !important;
  background-color: rgba(54, 73, 175, 0.2);
  min-height: 200px !important;
  width: 100% !important;
  margin: auto;
}

.card > img {
  width: 100% !important;
  height: 100%;
}

@media only screen and (max-width: 800px) {
  .card {
    width: 80% !important;
  }
}
img {
  max-width: 70%;
}

.card {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: black;
}
